
.div-content-reagent {
    width: 100% !important;
    ion-list {
        width: 100% !important;
        ion-item {
            width: 100% !important;
        }
    }
}

.div-switch {
    width: 100% !important;
}
.div-switch-case {
    width: 100% !important;
    ion-input {
        width: 100% !important;
    }
    ion-datetime {
        width: 100% !important;
    }
    ion-select {
        width: 100% !important;
        ion-select-option {
            width: 90% !important;
        }
    }
    ng-template {
        width: 100% !important;
        ion-select {
            width: 100% !important;
            ion-select-option {
                width: 90% !important;
            }
        }
    }
}

.div-content {
    width: 100% !important;
    ion-item {
        width: 100% !important;
    }
    ion-label {
        width: 100% !important;
    }
    ion-radio-group {
        width: 100% !important;
        ion-item {
            width: 100% !important;
        }
    }
}

.description {
    min-width: 95% !important;
    max-width: 100% !important;
}
.description-mark {
    min-width: 95% !important;
    max-width: 100% !important;
    align-self: stretch;
}
.description-sub {
    min-width: 95% !important;
    max-width: 100% !important;
    font-size: 1.5rem !important;
    font-style: bold;
    font-weight: normal;
    color: #5F4E27 !important;
}

p.text-left {
    text-align: left;
}
p.text-center {
    text-align: center;
}
p.text-right {
    text-align: right;
}

h1.text-left {
    font-size: 0.55rem;
    text-align: left;
}
h1.text-center {
    font-size: 0.55rem;
    text-align: center;
}
h1.text-right {
    font-size: 0.55rem;
    text-align: right;
}

h1.alert {
    color: #b30808;
    font-size: 0.75rem !important;
    width: 90%;
    margin: 0.5rem;
    text-align: left;
}

.item-has-focus {
    --highlight-background: rgba(213, 237, 108, 0.461);
    ion-input {
        background: #f2f2f2 !important;
    }
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-grid {
    align-content: start;
}

.grid-mark {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
}

ion-range {
    margin-left: 0.75rem !important;
    margin-right: 0.75rem !important;
    font-family: 'FuturaStd-Heavy';
    --bar-background:  #f2f2f2;
    --bar-background-active: #00c96d;
    --bar-height: 8px;
    --bar-border-radius: 8px;
    --knob-background: #08312A;
    --knob-size: 40px;
    --pin-background: #1ae789;
    --pin-color: #08312A;
}
/*
ion-range.custome-range {
    --knob-size: 1.5rem;
    --knob-background: #0052a1 !important;
    //--knob-border-radius: 30;
    --bar-background: #4d4d4d;
    --bar-background-active: #6CC4Ed;
    //--bar-border-radius: 50;
    --bar-height: 0.33rem;
}
*/
.item-mark {
    display: flex !important;
    justify-content: center !important;
    //border-style: unset !important;
    margin: 0rem !important;
    width: 30%;
}

.lbl-mark {
    font-size: 0.55rem;
}

.center {
    display: flex !important;
    justify-content: center !important;
}

.validation-errors {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

.error-message {
    font-size: .75rem;
    color: red;
    text-shadow: 2px 2px 4px gray;
    background: rgba(255, 255, 255, 0.22);
}


.contentEscalaMolestia {
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
}


.escalaNormal {
    width: 33.3%;
    float: left;
    text-align: left;
}

.escalaModerada {
    width: 33.3%;
    float: left;
    text-align: center;
}

.escalaExtrema {
    width: 33.3%;
    float: left;
    text-align: right;
}

.contentEscalaMolestia div img{
    max-height:75px;
}

p.nota{
    color: #1a1a1a;
    font-size: 1rem;
    margin-left: 0.5rem;
}
p.nota-reagent {
    width: 100% !important;
    color: #1a1a1a !important;
    font-size: 1rem !important;
  
}

.background{
   background-color: #1678CA !important;
    text-align: center;
}

.bc{
  min-width: 95% !important;
    max-width: 100% !important;
    font-size: 1rem !important;
    font-style: bold;
    font-weight: normal;
    color: #f2f2f2 !important;
}

.inputCalc{
    border: 1px solid #1678CA;
    border-radius: 8px;
    text-align: center;
    color: #1678CA;
}

.selectCalc{
    border: 1px solid #1678CA;
    border-radius: 8px;
    text-align: center;
}



////RANGE
.m-swiper-container {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height:auto;
}

.ms-container {
    //display: block;
    //position: fixed;
    width: 100% !important;
    height: auto;
}

.m-wiper {
    width: 100%;
    height: auto;
    //bottom: 45pt;
    .swiper-container {
        width: 33%;
        height: auto;
    }
    .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .swiper-slide-prev {
        height: 75% !important;
    }
    .swiper-slide-next {
        height: 75% !important;
    }
    .swiper-wrapper {
        align-items: center;
    }
}

.btn-mark {
    display: flex !important;
    justify-content: center !important;
    //--background: transparent;
    color: transparent;
    padding: 0;
    margin: 0;
    width: 33%;
    height: auto;
}

.btn-ms {
    justify-content: center !important;
    //--background: transparent;
    color: transparent;
    padding: 0 !important;
    margin: 0 !important;
    height: 95%;
}

.swiperScale {
    width: 33.3%;
    float: left;
    text-align: center;
}
.swiperItemScale {
    width: 33.3%;
    float: left;
}

.m-range-container {
    padding: 0 !important;
    margin: 0 !important;
    width: 95%;
    height:auto;
    margin-bottom: 10pt !important;
}
.m-swiper-container {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height:auto;
}


.custome-range-swipe-icon {
    margin-left: 0.2rem !important;
    margin-right: 0.4rem !important;
}
.custome-range-swipe-grid {
    margin-left: -0.1rem !important;
    margin-right: -0.2rem !important;
}

p.text-range {
    font-size: 0.75rem !important;
    font-weight: bold;
    text-align: center;
}

p.spaces {
    width: 100% !important;
    margin: 0.35rem;
}


.scaleInit {
    width: 33.3%;
    float: left;
    text-align: left;
}
.scaleCenter {
    width: 33.3%;
    float: right;
    text-align: center;
}
.scaleEnd {
    width: 33.3%;
    float: right;
    text-align: right;
}
.item-mark-col {
    display: flex !important;
    justify-content: center !important;
    margin: 0rem !important;
    width: 95%;
}


.custome-range-icon {
    margin-left: 0.25rem !important;
    margin-right: 0.45rem !important;
}
.custome-range-grid {
    margin-left: -0.1rem !important;
    margin-right: -0.2rem !important;
}