<app-header></app-header>
<app-navigation-header titulo="Configuración"></app-navigation-header>

<ion-content class="ion-padding-horizontal">
  <ion-grid class="contentBtnSubSecciones">
    <div>
      <ion-row class="rowBtnII">
        <ion-col class="btnIzq" routerLink="/perfil">
          <div class="contenedorPS">
            
            <div class="imgPS">
              <img class="prductShot" src="./assets/images/iconoPerfil.svg" alt="">
            </div>
          </div>
          <div class="nombrePS">
            <p class="text-center">Perfil</p>
          </div>
        </ion-col>

        <ion-col class="btnDer" routerLink="/creditos">
          <div class="contenedorPS">
            
            <div class="imgPS">
              <img class="prductShot" src="./assets/images/iconoCreditos.svg" alt="">
            </div>
          </div>
          <div class="nombrePS">
            <p class="text-center">Créditos</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="rowBtnII">
        <ion-col class="btnIzq" routerLink="/sugerencias">
          <div class="contenedorPS">
            
            <div class="imgPS">
              <img class="prductShot" src="./assets/images/iconoSugerencias.svg" alt="">
            </div>
          </div>
          <div class="nombrePS">
            <p class="text-center">Sugerencias</p>
          </div>
        </ion-col>

        <ion-col class="btnDer" routerLink="/contacto">
          <div class="contenedorPS">
            
            <div class="imgPS">
              <img class="prductShot" src="./assets/images/iconoContacto.svg" alt="">
            </div>
          </div>
          <div class="nombrePS">
            <p class="text-center">Contacto</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="rowBtnII">
        <ion-col class="btnIzq" (click)="openResource('termsAndConditions.html')">
          <div class="contenedorPS">
            
            <div class="imgPS">
              <img class="prductShot" src="./assets/images/iconoTerminos.svg" alt="">
            </div>
          </div>
          <div class="nombrePS">
            <p class="text-center">Términos y condiciones</p>
          </div>
        </ion-col>

        <ion-col class="btnDer" (click)="openResource('privacyNotice.html')">
          <div class="contenedorPS">
            
            <div class="imgPS">
              <img class="prductShot" src="./assets/images/iconoAviso.svg" alt="">
            </div>
          </div>
          <div class="nombrePS">
            <p class="text-center">Aviso de privacidad</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="rowBtnII">
        <ion-col class="btnIzq" routerLink="/configuracion-notificaciones">
          <div class="contenedorPS">
            
            <div class="imgPS">
              <img class="prductShot" src="./assets/images/iconoNotificaciones.svg" alt="">
            </div>
          </div>
          <div class="nombrePS">
            <p class="text-center">Notificaciones</p>
          </div>
        </ion-col>

        <ion-col class="btnDer" routerLink="/cuenta">
          <div class="contenedorPS">
            
            <div class="imgPS">
              <img class="prductShot" src="./assets/images/iconoCuenta.svg" alt="">
            </div>
          </div>
          <div class="nombrePS">
            <p class="text-center">Cuenta</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
