<app-header></app-header>
<app-navigation-header titulo="IPPA"></app-navigation-header>

<ion-content class="ion-padding-horizontal">

  
  <div>
        
    <ion-img class="imgLogoProductShot" src="https://www.plmconnection.com/plmservices/PharmaSearchEngine/Mexico/DEF/SIDEF/400x400/concordia_lysomucil_sol_fco120ml.png"></ion-img>

      <h1 class="nombreProducto ion-margin-top">PREVITAMOM</h1>

      <p class="formaFarma"> <em>Gel
      </em> </p>
  
      <h2 class="titSustancia">Sustancia(s) activa(s)</h2>
  
      <p class="formaFarma"><em>Idometacina, Betametasona</em></p>


      <ion-accordion-group class="ion-padding-vertical">
        <ion-accordion value="first" mode="ios">
          
              <ion-item slot="header" color="urologia-primary">
                  <ion-label>
                    <h2 class="textNormal">COMPOSICIÓN</h2>
                  </ion-label>
                </ion-item>
          
          
          <div class="ion-padding" slot="content">
            <p class="textNormal">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sed eligendi non deserunt culpa esse officia doloribus consequuntur ad obcaecati est dolore, saepe deleniti facere nulla ullam voluptate, maxime amet!
            </p>
          </div>
        </ion-accordion>

        <ion-accordion value="second" mode="ios">
          <ion-item slot="header" color="urologia-primary">
            <ion-label>
              <h2 class="textNormal">INDICACIONES TERAPÉUTICAS</h2>
            </ion-label>
          </ion-item>
          
          <div class="ion-padding" slot="content">
            <p class="textNormal">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolores veniam sapiente qui error, incidunt ipsam mollitia? Assumenda mollitia rem tenetur, ut, delectus accusantium corporis quibusdam non quasi totam similique.
            </p>
          </div>
        </ion-accordion>

        <ion-accordion value="third" mode="ios">
          <ion-item slot="header" color="urologia-primary">
            <ion-label>
              <h2 class="textNormal">PROPIEDADES FARMACÉUTICAS</h2>
            </ion-label>
          </ion-item>
          
          <div class="ion-padding" slot="content">
            <p class="textNormal">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio eligendi saepe aut? Voluptatum harum, totam possimus eius deserunt, aspernatur at architecto, facilis nobis corrupti numquam molestias aut ipsam nihil consequatur?
            </p>
          </div>
        </ion-accordion>

      </ion-accordion-group>
  </div>
</ion-content>
<app-footer></app-footer>
