<ion-card mode="md" color="urologia-primary">
  <ion-card-header>

    <!--iconoAccCalculadoras  - -->
    <ion-card-subtitle (click)="toggleAccordion()" color="urologia-primary">
      <span [ngClass]="this.isMenuOpen ? 'title-active2' : 'title-inactive2'" *ngIf="isMenuOpen">&#8722;</span>
      <span [ngClass]="this.isMenuOpen ? 'title-active2' : 'title-inactive2'" *ngIf="!isMenuOpen">&#43;</span>

      <ion-label [ngClass]="this.isMenuOpen ? 'title-active2' : 'title-inactive2'"> <img
          src="./assets/images/iconoAccCci.svg" class="iconoAccordeon" alt="" slot="start"> {{ title
        }}</ion-label>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content #myDiv [ngClass]="this.isMenuOpen ? 'active2' : 'inactive2'">
    <ion-item *ngFor="let element of this.elementList" (click)="selectedItem(element)" color="urologia-primary"
      button="true" detail>

      <div *ngIf="element.InfDescription === 'Calculadora'">
        <!-- <ion-thumbnail slot="start">-->
        <!--<ion-img *ngIf="element.InfDescription === 'Atlas'; else otherImg"
            src="{{ element.BaseUrl + 'miniaturas/' + element.Miniature }}"></ion-img>-->
        <!--<ng-template #otherImg><img alt="" [src]="img" /></ng-template>-->
        <!-- </ion-thumbnail> -->
        <ion-label>
          {{ element.ElectronicTitle }}
        </ion-label>
        <!--<ion-icon class="iconoArrowListado" name="arrow-forward-outline" slot="end"></ion-icon>-->
      </div>

      <div *ngIf="element.InfDescription === 'atlas'">
        <ion-thumbnail slot="start">
          <img src="{{ element.LogoPath }}">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h2 class="textNormal">{{ element.Title }}</h2>
        </ion-label>
      </div>

      <div *ngIf="element.InfDescription !== 'Calculadora'">
        <ion-label class="ion-text-wrap">
          <h2 class="textNormal">{{ element.Title }}</h2>
        </ion-label>
      </div>

    </ion-item>
  </ion-card-content>
</ion-card>