<ion-card mode="md" color="urologia-primary">
  <ion-card-header>
    <ion-card-subtitle (click)="toggleAccordion()" color="urologia-primary">
      <span [ngClass]="this.isMenuOpen ? 'title-active2' : 'title-inactive2'" *ngIf="isMenuOpen">&#8722;</span>
      <span [ngClass]="this.isMenuOpen ? 'title-active2' : 'title-inactive2'" *ngIf="!isMenuOpen">&#43;</span>
      <p><img [src]="icon" class="iconoAccordeon" alt="" slot="start">
        {{ title}}</p>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content #myDiv [ngClass]="this.isMenuOpen ? 'active2' : 'inactive2'">
    <ion-item *ngFor="let element of this.elementList" (click)="selectedItem(element)" color="urologia-primary"
      button="true" detail>
      <div *ngIf="element.InfDescription !== 'Atlas'">
        <ion-label>
          {{ element.ElectronicTitle }}
        </ion-label>
      </div>

      <!-- <div *ngIf="element.InfDescription === 'Podcast'">
        <ion-thumbnail slot="start">
          <img src="{{ element.LogoPath }}">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h2 class="textNormal">{{ element.ElectronicTitle }}</h2>
        </ion-label>
      </div> -->

      <div *ngIf="element.InfDescription === 'Atlas'">
        <ion-thumbnail slot="start">
          <img alt="" src="{{ element.LogoPath }}">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h2 class="textNormal">{{ element.Title }}</h2>
        </ion-label>
      </div>

    </ion-item>
  </ion-card-content>
</ion-card>