<app-header></app-header>
<app-navigation-header titulo=""></app-navigation-header>

<ion-content class="ion-padding-horizontal">

  <ion-row class="contentTituloSeccion">
    <ion-col size="12" class="text-center">
      <img class="iconoSeccion" src="assets/images/cenefaCalculadoras.svg" alt="">
    </ion-col>
  </ion-row>
  <br>

  <br>
  <ng-container *ngIf="successRequest | async;">
    <ion-list *ngIf="this.clientEngineService.getCalculators().length > 0; else Empty;" class="bckgrList" mode="ios">
      <ion-item *ngFor="let calculadora of this.clientEngineService.getCalculators()"
        (click)="goCalculatorView(calculadora)" mode="ios" color="mujer-tertiary" detail="false">
        <ion-thumbnail class="imgIconoMenu" slot="start">
          <img src="./assets/images/iconoThumbnailCalculadoras.svg">
        </ion-thumbnail>
        <ion-label class="textItemMenu">Calculadora - {{ calculadora.ElectronicTitle }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <!--
  <ion-accordion-group mode="ios">
    <ion-accordion value="first">
      <ion-item slot="header" color="urologia-primary">
        <img src="./assets/images/iconoAccCalculadoras.svg" class="iconoAccordeon" alt="" slot="start">
        <ion-label>
          Salud Hormonal Masculina</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-label>
            <h2 class="textNormal">Cuestionario de deficiencia androgénica en el varón adulto (qADAM)</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-label>
            <h2 class="textNormal">Índice de andrógenos libres</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-label>
            <h2 class="textNormal">Calculadora de la relación testosterona/estradiol</h2>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>


    <ion-accordion value="second">
      <ion-item slot="header" color="urologia-primary">
        <img src="./assets/images/iconoAccCalculadoras.svg" class="iconoAccordeon" alt="" slot="start">
        <ion-label>Salud Urogenital Masculina </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-label>
            <h2 class="textNormal">Cuestionario de Salud Sexual Masculina (MSHQ) – Versión Corta</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-label>
            <h2 class="textNormal">Cuestionario de calidad de vida de síntomas del Tracto Urinario Inferior
              (ICIQ-LUTSqol)</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-label>
            <h2 class="textNormal">Puntuación internacional de síntomas de próstata (IPSS)</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-label>
            <h2 class="textNormal">Densidad de antígeno prostático específico por volumen prostático</h2>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>

    <ion-accordion value="third">
      <ion-item slot="header" color="urologia-primary">
        <img src="./assets/images/iconoAccCalculadoras.svg" class="iconoAccordeon" alt="" slot="start">
        <ion-label>Salud Urogenital Femenina</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-label>
            <h2 class="textNormal">Escala de calificación de la menopausia (MRS)</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-label>
            <h2 class="textNormal">Índice de función sexual femenina (FSFI)</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-label>
            <h2 class="textNormal">Cuestionario VSQ para medir síntomas vulvovaginales en mujeres posmenopáusicas</h2>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>. -->

  <ng-template #Empty>
    <ion-item class="listaResultadosBusqueda ion-text-center" color="cardio-primary" lines="none">
      <ion-label>
        ¡No se hallaron calculadoras!
      </ion-label>
    </ion-item>
  </ng-template>

</ion-content>

<ng-container *ngIf="showBanner">
  <app-banner (close)="bannerClose($event)" PLMId="CALCULADORAS"></app-banner>
</ng-container>

<ng-container *ngIf="closeBanner || !showBanner">
  <app-footer></app-footer>
</ng-container>