<app-header></app-header>
<app-navigation-header titulo="Abstracts"></app-navigation-header>

<ion-content class="ion-padding">

  
  <ion-list mode="ios">
    
    <ion-item color="urologia-primary" routerLink="/resumen-abstract">
      <ion-label>
        <h2 class="textNormal">Abstracts</h2>
      </ion-label>
    </ion-item>
    <ion-item color="urologia-primary" routerLink="/resumen-abstract">
      <ion-label>
        <h2 class="textNormal">Abstracts</h2>
      </ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>
<app-footer></app-footer>