<app-header></app-header>
<app-navigation-header titulo="Casos clínicos interactivos"></app-navigation-header>

<ion-content class="ion-padding-horizontal">

  <div *ngIf="this.logoFile !== false" class="espacioLogoPatrocinio d-flex justify-content-center">
    <h3>Por cortesía de:</h3>
    <br>
    <img [src]="this.logoImage" alt="" class="marcaPatrocinadora">
  </div>

  <h1 class="copyTitulo">{{ this.title }}</h1>

  <ion-accordion-group class="ion-padding-vertical" value="['first']">
    <ion-accordion value="first" class="bckgrList"   mode="ios">
      <ion-item slot="header" color="urologia-primary">
        <ion-label>
          <h2>Presentación del caso y motivo de consulta</h2>
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <p class="textAccordion ion-text-justify">
          {{ this.background }}
        </p>
      </div>
      <div *ngIf="this.backgroundFile !== false" class="ion-padding" slot="content">
        <img [src]="this.backgroundImage" alt="">
      </div>
    </ion-accordion>

    <ion-accordion value="second" *ngIf="this.physicalExploData !== false">
      <ion-item slot="header" color="urologia-primary">
        <ion-label>
          <h2>Exploración física</h2>
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <p class="textAccordion  ion-text-justify">
          {{ this.physicalExplo }}
        </p>
      </div>
      <div *ngIf="this.physicalExploFile !== false" class="ion-padding" slot="content">
        <img [src]="this.physicalExploImage" alt="">
      </div>
    </ion-accordion>

    <ion-accordion value="third">
      <ion-item slot="header" color="urologia-primary">
        <ion-label>
          <h2>Estudios complementarios</h2>
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <p class="textAccordion">
          {{ this.findings}}
        </p>
      </div>
      <div *ngIf="this.findingsFile !== false" class="ion-padding" slot="content">
        <img [src]="this.findingsImage" alt="">
      </div>
    </ion-accordion>
  </ion-accordion-group>


  <ion-card mode="md">
    <ion-card-header>
      <ion-card-title><b>Pregunta</b></ion-card-title>
      <ion-card-subtitle>{{ this.askName }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item color="urologia-primary" *ngFor="let item of this.answers; let i = index">
          <p class="wrap">{{item.AnswerDes}}.</p>
          <ion-checkbox justify="end" color="urologia-secondary" labelPlacement="start" checked=false allow-empty-selection="true"
            (ionChange)="answerHandler($event, item)" value="{{item.AnswerId}}" (click)="selectedComent(i)">
          </ion-checkbox>
        </ion-item>
        <!-- <ion-item color="urologia-primary">
          <ion-checkbox color="urologia-secondary" labelPlacement="start">
            <p class="wrap">B. Ut wisi enim ad minim veniam.</p>
          </ion-checkbox>
        </ion-item>
        <ion-item color="urologia-primary">
          <ion-checkbox color="urologia-secondary" labelPlacement="start">
            <p class="wrap">C. Officia sequi fugit id fugiat at pariatur, ex, minus eum laboriosam architecto esse
              eligendi fuga quidem voluptatem a.</p>
          </ion-checkbox>
        </ion-item>
        <ion-item color="urologia-primary">
          <ion-checkbox color="urologia-secondary" labelPlacement="start">
            <p class="wrap">D. Dolore odit ratione, nihil quam adipisci distinctio nulla labore asperiores iste. Labore,
              explicabo?</p>
          </ion-checkbox>
        </ion-item>-->
      </ion-list>

      <div class="contentBtnOpcion" justify="space-between">
        <ion-button id="open-modal" size="small" mode="md" class="w-auto" color="urologia-secondary">
          Mira cómo otros eligieron
        </ion-button>
        <ion-button size="small" mode="md" class="w-auto" color="urologia-secondary" (click)="sendAnswer()">
          Enviar
        </ion-button>
        <!--<ion-button size="small" mode="md" class="w-auto" color="urologia-secondary" routerLink="/respuesta-correcta">
          CORRECTA
        </ion-button>-->
      </div>

    </ion-card-content>
  </ion-card>


  <ion-modal *ngIf="this.answersPercents !== true" mode="ios" trigger="open-modal" [initialBreakpoint]="1"
    [breakpoints]="[0, 0.25, 0.5, 0.75, 0.8, 0.9]">
    <ng-template>
      <ion-card>
        <ion-card-content>
          <ion-card-title>! Bienvenido ¡</ion-card-title>
          <ion-card-subtitle>Eres el primero en responder a este reto, no olvides regresar pronto para conocer más
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-modal>


  <ion-modal *ngIf="this.answersPercents !== false" mode="ios" trigger="open-modal" [initialBreakpoint]="1"
    [breakpoints]="[0, 0.25, 0.5, 0.75, 0.8, 0.9]">
    <ng-template>
      <div class="block">

        <ion-card mode="md">
          <ion-card-header>
            <ion-card-title>Pregunta</ion-card-title>
            <ion-card-subtitle>¿Cuál de las siguientes opciones NO es correcta?</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>

            <ion-list>
              <ion-item *ngFor="let item of this.answers" color="mujer-light">
                <ion-label>
                  <h2 class="opcionPreguntas">
                    {{item.AnswerDes}}
                  </h2>
                </ion-label>
                <ion-badge class="color{{item.Order}}">{{item.NumberTrue}}%</ion-badge>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>

      </div>
    </ng-template>
  </ion-modal>

  <!--
  <ion-modal mode="ios" trigger="open-modal" [initialBreakpoint]="1" *ngIf="this.answersPercents !== true"
    [breakpoints]="[0, 0.25, 0.5, 0.75, 0.8, 0.9]">
    <ng-template>
      <div class="block">

        <ion-card mode="md">
          <ion-card-header>
            <ion-card-title>Pregunta</ion-card-title>
            <ion-card-subtitle>¿Cuál de las siguientes opciones NO es correcta?</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-card-title>! Bienvenido ¡</ion-card-title>
            <ion-card-subtitle>Eres el primero en responder a este reto, no olvides regresar pronto para conocer más
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
     
        <ion-card-content>
          <ion-list>
            <ion-item color="urologia-primary">
              <ion-label>
                <h2 class="opcionPreguntas">
                  A. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
                </h2>
              </ion-label>
              <ion-badge class="color1">47.7%</ion-badge>
            </ion-item>
            <ion-item color="urologia-primary">
              <ion-label>
                <h2 class="opcionPreguntas">
                  B. Ut wisi enim ad minim veniam.
                </h2>
              </ion-label>
              <ion-badge class="color2">47.7%</ion-badge>
            </ion-item>
            <ion-item color="urologia-primary">
              <ion-label>
                <h2 class="opcionPreguntas">
                  C. Officia sequi fugit id fugiat at pariatur, ex, minus eum laboriosam architecto esse
                  eligendi fuga quidem voluptatem a.
                </h2>
              </ion-label>
              <ion-badge class="color3">47.7%</ion-badge>
            </ion-item>
            <ion-item color="urologia-primary">
              <ion-label>
                <h2 class="opcionPreguntas">
                  D. Dolore odit ratione, nihil quam adipisci distinctio nulla labore asperiores iste. Labore,
                  explicabo?
                </h2>
              </ion-label>
              <ion-badge class="color4">47.7%</ion-badge>
            </ion-item>
          </ion-list>


        </ion-card-content>
        </ion-card>

      </div>
    </ng-template>
  </ion-modal>
-->
</ion-content>

<script>
  var modal = document.querySelector('ion-modal');
</script>