<app-header></app-header>
<app-navigation-header titulo="Notificaciones Push"></app-navigation-header>

<ion-content class="ion-padding-vertical">

  <h1 class="ion-margin textNormal">Indique si desea activar o desactivar las notificaciones push:</h1>

  <div class="ion-text-center ion-margin-vertical">
    <ion-toggle color="success" mode="ios"  (ionChange)="ionChangeionToggle()" [(ngModel)]="this.subscribed">
    </ion-toggle>
  </div>

  <div class="ion-text-center">
    <ion-button class="w-auto" size="small" color="urologia-secondary" (click)="saveStatusNotificacion()" [disabled]="!changed">
      Guardar
    </ion-button>
  </div>

</ion-content>
<app-footer></app-footer>