h2 {
   cursor: pointer;
   position: relative;
   padding: 1em 1.8em 1em 1em;
    // font-size: 1.35em;
   font-family: var(--ion-font-family,inherit);;
   //border-bottom: 1px solid #94278F;
   margin: 0;
    // color: #44AC34;

    /* Define the style rules for the 'arrow icons' */
   span {
      position: absolute;
      right: 1em;
      top: 1.2em;
      font-size: 0.95em;
   }
}

 /* Here we define the actual 'menu' and its 'options' */
.image-wrapper {
   margin: 0 auto 2em auto;
   width: 20%;
   img {
      display: block;
      margin: auto;
   }
}

p {
   line-height: 1.2em;
   margin: 0 0 1em 0;
   font-family: Verdana;
   font-size: 1rem;
}

div {
   position: relative;
   padding: 2em;
   //border-bottom: 1px solid #94278F;
   //background-color: rgb(212, 227, 246);
   ion-button {
      position: absolute;
      bottom: 20px;
      right: 20px;
   }
}

/* Following classes display/hide the 'menu'
 // based on the state change detection in the
 // component class */
.active {
   display: block;
   //color: #d7000b;
}

.inactive {
   display: none;
}

.icon-accordion {
   color: #136ab2; 
}

.title-active{
   color: #d7000b;
}

.title-inactive{
   color: #136ab2;
}