<app-header></app-header>
<app-navigation-header titulo="{{this.title}}"></app-navigation-header>

<ion-content>
  <ion-grid>

    <ion-row class="contReproductor">
      <div class="podcastTitulo">
        <h1>{{this.title}}</h1>
      </div>
      <div class="podcastDescripcion">
        <h2>{{this.album}}</h2>
      </div>

      <ng-container *ngIf="podPlay === true">
        <div class="contRange">
          <ion-range class="ion-padding-horizontal" max="100" color="urologia-secondary" mode="ios"
            *ngIf="currentTime != null && duration > 0" min="0" [max]="duration" [value]="currentTime"
            (ionChange)="onRangeChange($event)"></ion-range>

          <div class="indicadorTiempo">
            <ion-label color="medium" slot="start">
              {{ formatTime(currentTime) }}
            </ion-label>
            <ion-label color="medium" slot="end">
              {{ formatTime(duration) }}
            </ion-label>
          </div>
        </div>
      </ng-container>


      <ng-container *ngIf="podPlay === false">
        <div class="contRange">
          <ion-range class="ion-padding-horizontal" max="100" color="urologia-secondary" mode="ios"></ion-range>

          <div class="indicadorTiempo">
            <ion-label color="medium" slot="start">
              00:00
            </ion-label>
            <ion-label color="medium" slot="end">
              00:00
            </ion-label>
          </div>
        </div>
      </ng-container>

    </ion-row>



    <ion-row>
      <div class="contControls">
        <div class="controls">
          <div>
            <ion-button fill="clear" color="mujer-tertiary">
              <ion-icon name="heart-outline"></ion-icon>
            </ion-button>
          </div>

          <div>
            <ion-button fill="clear" (click)="back()" color="mujer-tertiary">
              <ion-icon name="play-back-outline"></ion-icon>
            </ion-button>
          </div>

          <div>
            <ion-button class="btnPlayPause" *ngIf="!isPlaying" (click)="play()" color="mujer-tertiary">
              <ion-icon class="iconPlayPause" name="play"></ion-icon>
            </ion-button>

            <ion-button class="btnPlayPause" *ngIf="isPlaying" (click)="pause()" color="mujer-tertiary" >
              <ion-icon class="iconPlayPause" name="pause"></ion-icon>
            </ion-button>
          </div>

          <div>
            <ion-button fill="clear" (click)="forward()" color="mujer-tertiary">
              <ion-icon name="play-forward-outline"></ion-icon>
            </ion-button>
          </div>

          <div>
            <ion-button fill="clear" color="mujer-tertiary">
              <ion-icon name="share-social-outline"></ion-icon>
            </ion-button>
          </div>

        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>