<app-header></app-header>
<app-navigation-header titulo="CIE-11"></app-navigation-header>

<ion-content class="ion-padding" (click)="this.autocompleteService.closeAutocomplete()">

  <ng-container *ngIf="this.autocompleteService.showList | async">
    <ion-item-group class="ion-margin-horizontal autocomplete">
      <app-autocomplete [products]="this.autocompleteService.productsFiltered"
        [substances]="this.autocompleteService.substancesFiltered" [icds]="this.autocompleteService.icdFiltered"
        [labs]="this.autocompleteService.labsFiltered"
        (searchEngine)="this.autocompleteService.searchEngine($event)"></app-autocomplete>
    </ion-item-group>
  </ng-container>

  <ion-searchbar class="ion-margin-bottom" placeholder="Producto, Sustancia, Laboratorio, CIE-11"
    color="urologia-primary" mode="md" (ionInput)="this.autocompleteService.showAutoComplete(false, this.searchText)"
    (keydown)="getResults( $event )" [(ngModel)]="searchText"></ion-searchbar>

  <h2 *ngIf="this.pharmaSearchEngine.productsSearchText" class="subTitTextBusc">
    Texto de búsqueda:
    <em>
      <span>
        {{this.pharmaSearchEngine.productsSearchText}}
      </span>
    </em>
  </h2>

  <ion-list mode="ios">
    <ion-item color="urologia-primary" detail *ngFor="let icd of this.getICD11ByTextResult"  (click)="getDrugsByICD(icd.ICDId)">
      <ion-label>
        <h2 class="textNormal">{{icd.SpanishDescription}}</h2>
      </ion-label>
    </ion-item>
    <!--
    <ion-item color="urologia-primary" routerLink="/ippa">
      <ion-label>
        <h2 class="textNormal">CIE-11</h2>
      </ion-label>
    </ion-item>
  -->
  </ion-list>
</ion-content>

<app-footer></app-footer>