<ion-list>
  <ion-item mode="ios" color="urologia-primary" routerLink="/home" (click)="dismiss()">
    <ion-label class="textItemMenu">Inicio</ion-label>
  </ion-item>
  
  <ion-item mode="ios" color="urologia-primary" routerLink="/buscador" (click)="dismiss()">
    <ion-label class="textItemMenu">Buscador</ion-label>
  </ion-item>
  
  <ion-item mode="ios" color="urologia-primary" routerLink="/atlas" (click)="dismiss()">
    <ion-label class="textItemMenu">Atlas</ion-label>
  </ion-item>
  
  <ion-item mode="ios" color="urologia-primary" routerLink="/cci" (click)="dismiss()">
    <ion-label class="textItemMenu">Casos clínicos interactivos</ion-label>
  </ion-item>

  <ion-item mode="ios" color="urologia-primary" routerLink="/podcast" (click)="dismiss()">
    <ion-label class="textItemMenu">Podcast</ion-label>
  </ion-item>

  <ion-item mode="ios" color="urologia-primary" routerLink="/contenido-actualizado" (click)="dismiss()">
    <ion-label class="textItemMenu">Actalidad científica</ion-label>
  </ion-item>

  <ion-item mode="ios" color="urologia-primary" routerLink="/interacciones-medicamentosas" (click)="dismiss()">
    <ion-label class="textItemMenu">Interacciones</ion-label>
  </ion-item>
  
  <ion-item mode="ios" color="urologia-primary" routerLink="/calculadoras" (click)="dismiss()">
    <ion-label class="textItemMenu">Calculadoras</ion-label>
  </ion-item>
  
</ion-list>









 
 
 
 
 