
ion-list {
   // --background: #d99dfa;
}

.word-prediction {
    font-size: 13px;
}

.ion-margin-horizontal.autocomplete {
    //background-color: #d99dfa;
    margin-top: -10px;
    box-shadow: 0px 5px 10px rgba(100, 132, 228, 0.5);
    border-radius: 0 0 10px 10px;
}
