<ion-item-group>
  <ng-container *ngIf="reagent.Label != ''">
    <ion-item color="plm-primary">
      <ion-label class="ion-text-wrap">
        <ng-container *ngIf="validateContentHTML(reagent.Label); else htmlLabelFalse">
          <p [innerHTML]="getContentHTML(reagent.Label)" class="nota-reagent"></p>
        </ng-container>
        <ng-template #htmlLabelFalse>
          <p class="nota">
            {{ reagent.Label }}
          </p>
        </ng-template>
      </ion-label>
    </ion-item>
  </ng-container>
  <ion-item color="plm-primary">
    <ng-container *ngIf="rangeMarks && rangeMarks.length > 0">
      <!-- Grid Mark Scroll -->
      <ng-container *ngIf="scrollMarks; else htmlMarkTypeFalse">
        <ion-grid class="grid-mark ion-no-padding">
          <ion-row class="row-mark ion-no-padding">
            <!--<div class="ms-container ion-padding-horizontal"></div>-->
            <ion-col class="col-mark ion-no-padding" size="12">
              <!--<swiper-container #swiper slides-per-view="1" pagination="false" pagination-clickable="false"
              (swiperslidechange)="onSlideChange($event)" autoplay="true">-->
              <swiper-container #swiper slides-per-view="5" pagination="false"
              (swiperslidechange)="onSlideChange($event)" mousewheel-force-to-axis="true" >
              <!--<swiper class="m-wiper ion-margin-top" #swiper [slidesPerView]="3.4" [spaceBetween]="10" [navigation]="true" (slideChange)="onSlideChange($event)">
                -->
                <ng-container *ngIf="typeMarks === 'ICON'">
                  <swiper-slide *ngFor="let mark of rangeMarks; let indxMrkSIL = index;" (click)="selectMark(indxMrkSIL,mark, $event)" [attr.data-index]="indxMrkSIL">
                    <!--
                    <ion-item class="swiperScale btn-ms" lines="none">
                      <img class="imgMark" src="{{ mark.Src }}" alt=""/>
                    </ion-item>
                    -->
                    <ng-container *ngIf="rangeMarks.length === 3; else maxMarksSIL">
                      <ng-container *ngIf="indxMrkSIL === 0">
                        <ion-icon [src]="mark.Src" item-start></ion-icon>
                        <!--<ion-item class="ms-containerL" item-start>
                          <img class="imgMark" src="{{ mark.Src }}" alt=""/>
                        </ion-item>-->
                      </ng-container>
                      <ng-container *ngIf="indxMrkSIL > 0 && indxMrkSIL < (rangeMarks.length-1)">
                        <ion-icon [src]="mark.Src"></ion-icon>
                        <!--<ion-item class="ms-container">
                          <img class="imgMark" src="{{ mark.Src }}" alt=""/>
                        </ion-item>-->
                      </ng-container>
                      <ng-container *ngIf="indxMrkSIL === (rangeMarks.length-1)">
                        <ion-icon [src]="mark.Src" item-end></ion-icon>
                        <!--<ion-item class="ms-containerR" item-end>
                          <img class="imgMark" src="{{ mark.Src }}" alt=""/>
                        </ion-item>-->
                      </ng-container>
                    </ng-container>
                    <ng-template #maxMarksSIL>
                      <ng-container *ngIf="rangeMarks.length < 6; else maxMarks">
                        <!--<img class="imgMarkC1" src="{{ mark.Src }}" alt=""/>-->
                        <ion-icon [src]="mark.Src"></ion-icon>
                      </ng-container>
                      <ng-template #maxMarks>
                        <!--<img class="imgMarkC2" src="{{ mark.Src }}" alt=""/>-->
                        <ion-icon [src]="mark.Src"></ion-icon>
                      </ng-template>
                    </ng-template>
                  </swiper-slide>
                </ng-container>
                
                <ng-container *ngIf="typeMarks === 'LABEL'">
                 
                  <swiper-slide *ngFor="let mark of rangeMarks; let indxMrkSL = index;" (click)="selectMark(indxMrkSL,mark, $event)">
                    <ng-container *ngIf="validateContentHTML(mark.Label); else htmlLabelInitSFalse">
                      <ng-container *ngIf="rangeMarks.length === 3; else maxMarksSL">
                        <ng-container *ngIf="indxMrkSL === 0">
                          <ion-item class="item-icon-left" color="plm-tertiary" swiper-slide="left" lines="none" item-start>
                            <ion-label class="description-markL ion-text-start">
                              <p [innerHTML]="getContentHTML(mark.Label)" class="lbl-mark nota"></p>
                            </ion-label>
                          </ion-item>
                        </ng-container>
                        <ng-container *ngIf="indxMrkSL > 0 && indxMrkSL < (rangeMarks.length-1)">
                          <ion-item class="item-icon-center" color="plm-tertiary" swiper-slide="center" lines="none">
                            <ion-label class="description-markC ion-text-wrap">
                              <p [innerHTML]="getContentHTML(mark.Label)" class="lbl-mark nota"></p>
                            </ion-label>
                          </ion-item>
                        </ng-container>
                        <ng-container *ngIf="indxMrkSL === (rangeMarks.length-1)">
                          <ion-item class="item-icon-right" color="plm-tertiary" swiper-slide="right" lines="none" item-end>
                            <ion-label class="description-markR ion-text-end">
                              <p [innerHTML]="getContentHTML(mark.Label)" class="lbl-mark nota"></p>
                            </ion-label>
                          </ion-item>
                        </ng-container>
                      </ng-container>
                      <ng-template #maxMarksSL>
                    
                          <ion-label class="description-mark ion-text-wrap" position="fixed">
                            <div [innerHTML]="getContentHTML(mark.Label)"></div>
                          </ion-label>
                   
                      </ng-template>
                    </ng-container>
                    <ng-template #htmlLabelInitSFalse>
                      <ion-item color="plm-tertiary">
                        <ion-label class="description ion-text-wrap" position="fixed" color="plm-secondary" lines="none">
                          <h1 class="lbl-mark text-center">{{ mark.Label }}</h1>
                        </ion-label>
                      </ion-item>
                    </ng-template>
                  </swiper-slide>
                </ng-container>
              </swiper-container>
            </ion-col>
          </ion-row>
          <ion-row class="row-mark ion-no-padding">
            <ion-col class="col-mark ion-no-padding" size="12">
              <ion-item lines="none">
                <!--  RANGE ELEMENT -->
                <ng-container *ngIf="rangeMax > 0">
                  <div class="m-range-container center">
                    <ng-container *ngIf="iconsRange.length > 0 || labelsRange.length > 0; else aryRILSFalse">
                      <ng-container *ngIf="iconsRange.length > 0; else iconsRSFalse">
                        <ion-range [ngStyle]="getObjStyle(rngStyle)" [color]="rngColor" class="custome-range-swipe-icon"
                        [value]="rangeValue" min="{{rangeMin}}" max="{{rangeMax}}" [ticks]="ticks" [snaps]="snaps" [pin]="flgPinFormatter" [pinFormatter]="pinFormatter"
                        (ionKnobMoveStart)="onKnobMoveStart($event)" (ionKnobMoveEnd)="onKnobMoveEnd($event)"
                        (ionChange)="changeRange($event)" color="plm-tertiary">
                          <ng-container *ngIf="flgPinFormatter; else pinFormatterSFalse">
                            <ion-icon slot="start" pin="true" pinFormatter="pinFormatter" name="{{iconsRange[0]}}"></ion-icon>
                            <ion-icon slot="end" pin="true" pinFormatter="pinFormatter" name="{{iconsRange[1]}}"></ion-icon>
                          </ng-container>
                          <ng-template #pinFormatterSFalse>
                            <ion-icon slot="start" name="{{iconsRange[0]}}"></ion-icon>
                            <ion-icon slot="end" name="{{iconsRange[1]}}"></ion-icon>
                          </ng-template>
                        </ion-range>
                      </ng-container>
                      <ng-template #iconsRSFalse>
                        <ion-grid class="ion-no-padding">
                          <ion-row class="ion-no-padding">
                            <ion-col class="col-mark ion-no-padding" size="2">
                              <ion-label color="description-range plm-secondary">
                                <p [innerHTML]="getContentHTML(labelsRange[0])" class="text-range"></p>
                              </ion-label>
                            </ion-col>
                            <ion-col class="col-mark ion-no-padding" size="8">
                              <div class="center">
                                <ion-range [ngStyle]="getObjStyle(rngStyle)" [color]="rngColor" class="custome-range-swipe-grid"
                                  [value]="rangeValue" min="{{rangeMin}}" max="{{rangeMax}}" [ticks]="ticks" [snaps]="snaps" [pin]="flgPinFormatter" [pinFormatter]="pinFormatter"
                                  (ionKnobMoveStart)="onKnobMoveStart($event)" (ionKnobMoveEnd)="onKnobMoveEnd($event)"
                                  (ionChange)="changeRange($event)" color="plm-tertiary">
                                </ion-range>
                              </div>
                            </ion-col>
                            <ion-col class="col-mark ion-no-padding" size="2">
                              <ion-label color="description-range plm-secondary">
                                <p [innerHTML]="getContentHTML(labelsRange[1])" class="text-range"></p>
                              </ion-label>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ng-template>
                    </ng-container>
                    <ng-template #aryRILSFalse>
                      <ion-range [ngStyle]="getObjStyle(rngStyle)" [color]="rngColor" class="custome-range-swipe"
                        [value]="rangeValue" min="{{rangeMin}}" max="{{rangeMax}}" [ticks]="ticks" [snaps]="snaps" [pin]="flgPinFormatter" [pinFormatter]="pinFormatter"
                        (ionKnobMoveStart)="onKnobMoveStart($event)" (ionKnobMoveEnd)="onKnobMoveEnd($event)"
                        (ionChange)="changeRange($event)" color="plm-tertiary">
                      </ion-range>
                    </ng-template>
                  </div>
                </ng-container>
                <!--  ********** -->
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
      <!-- Fin Grid Mark Scroll -->
      <!-- Grid Mark Normal -->
      <ng-template #htmlMarkTypeFalse>
        <ion-grid class="grid-mark">
          <ion-row class="row-mark">
            <!--<ion-content class="ion-padding"></ion-content>-->
            <ng-container *ngIf="iconsRange.length > 0 || labelsRange.length > 0">
              <ng-container *ngIf="typeMarks != 'ICON'">
                <ion-col class="col-mark ion-no-padding" size="1">
                  <ion-item class="btn-mark" lines="none">
                    <p class="spaces">&nbsp;</p>
                  </ion-item>
                </ion-col>
              </ng-container>
            </ng-container>
 
            <ng-container *ngIf="typeMarks === 'ICON'">
              <ng-container *ngFor="let mark of rangeMarks; let indxMrkI = index">
                <ion-col class="col-mark ion-no-padding" size="{{colSize}}">
                  <div [ngStyle]="getMarckStyle(indxMrkI,false)">
                    <ion-item class="btn-mark" (click)="selectMark(indxMrkI,mark, $event)" lines="none">
                      <img class="imgMark" src="{{ mark.Src }}" alt=""/>
                    </ion-item>
                  </div>
                </ion-col>
              </ng-container>
            </ng-container>
            
            <ng-container *ngIf="typeMarks === 'LABEL'">
              <ng-container *ngFor="let mark of rangeMarks; let indxMrkL = index">
                <ion-col class="col-mark ion-no-padding" size="{{colSize}}">
                  <div [ngStyle]="getMarckStyle(indxMrkL,false)">
                    <ion-item (click)="selectMark(indxMrkL,mark, $event)" lines="none">
                      <div *ngIf="validateContentHTML(mark.Label); else htmlLabelInitFalse">
                        <ion-label class="description-mark ion-text-wrap" mode="md">
                          <p [innerHTML]="getContentHTML(mark.Label)" class="lbl-mark nota"></p>
                        </ion-label>
                      </div>
                      <ng-template #htmlLabelInitFalse>
                        <ion-label class="description ion-text-wrap" mode="md" position="fixed" color="plm-secondary">
                          <h1 class="lbl-mark text-center">{{ mark.Label }}</h1>
                        </ion-label>
                      </ng-template>
                    </ion-item>
                  </div>
                </ion-col>
              </ng-container>
            </ng-container>
            
            <ng-container *ngIf="typeMarks === 'ICON-LABEL'">
              <ng-container *ngFor="let mark of rangeMarks; let indxMrkIL = index">
                <ion-col class="col-mark ion-no-padding" size="{{colSize}}">
                  <!--<ion-card [ngStyle]="getMarckStyle(indxMrkIL,false)" (click)="selectMark(indxMrkIL,mark)" class="card-mark ion-no-padding" lines="none">
                  </ion-card>-->
                  <ion-item-group [ngStyle]="getMarckStyle(indxMrkIL,false)" (click)="selectMark(indxMrkIL,mark, $event)" class="card-mark ion-no-padding" lines="none">
                    <!--<ion-card-content class="card-content-mark ion-no-padding" lines="none">
                    </ion-card-content>-->
                    <ion-item class="scaleItem" lines="none">
                      <img class="imgMark" src="{{ mark.Src }}" alt=""/>
                    </ion-item>
                    <ion-item class="scaleItem" lines="none">
                      <ion-text class="card-lbl-mark ion-text-wrap">
                        <div *ngIf="validateContentHTML(mark.Label); else htmlLabelInitFalse">
                          <ion-label class="description-mark" mode="md">
                            <p [innerHTML]="getContentHTML(mark.Label)" class="lbl-mark text-center"></p>
                          </ion-label>
                        </div>
                        <ng-template #htmlLabelInitFalse>
                          <ion-label class="description" mode="md" position="fixed" color="plm-secondary">
                            <h1 class="lbl-mark text-center">{{ mark.Label }}</h1>
                          </ion-label>
                        </ng-template>
                      </ion-text>
                    </ion-item>
                  </ion-item-group>
                </ion-col>
              </ng-container>
            </ng-container>
              
            <ng-container *ngIf="iconsRange.length > 0 || labelsRange.length > 0">
              <ng-container *ngIf="typeMarks != 'ICON'">
                <ion-col class="col-mark ion-no-padding" size="1">
                  <ion-item class="btn-mark" lines="none">
                    <p class="spaces">&nbsp;</p>
                  </ion-item>
                </ion-col>
              </ng-container>
            </ng-container>
          </ion-row>
          <ion-row class="row-mark">
            <ion-item lines="none">
              <!--  RANGE ELEMENT -->
              <ng-container *ngIf="rangeMax > 0">
                <div class="m-range-container center">
                  <ng-container *ngIf="iconsRange.length > 0 || labelsRange.length > 0; else aryRILFalse">
                    <ng-container *ngIf="iconsRange.length > 0; else iconsRFalse">
                      <ion-range [ngStyle]="getObjStyle(rngStyle)" [color]="rngColor" class="custome-range-icon"
                      [value]="rangeValue" min="{{rangeMin}}" max="{{rangeMax}}" [ticks]="ticks" [snaps]="snaps" [pin]="flgPinFormatter" [pinFormatter]="pinFormatter"
                      (ionKnobMoveStart)="onKnobMoveStart($event)" (ionKnobMoveEnd)="onKnobMoveEnd($event)"
                      (ionChange)="changeRange($event)" color="plm-tertiary">
                        <ng-container *ngIf="flgPinFormatter; else pinFormatterFalse">
                          <ion-icon slot="start" pin="true" pinFormatter="pinFormatter" name="{{iconsRange[0]}}"></ion-icon>
                          <ion-icon slot="end" pin="true" pinFormatter="pinFormatter" name="{{iconsRange[1]}}"></ion-icon>
                        </ng-container>
                        <ng-template #pinFormatterFalse>
                          <ion-icon slot="start" name="{{iconsRange[0]}}"></ion-icon>
                          <ion-icon slot="end" name="{{iconsRange[1]}}"></ion-icon>
                        </ng-template>
                      </ion-range>
                    </ng-container>
                    <ng-template #iconsRFalse>
                      <ion-grid>
                        <ion-row>
                          <ion-col class="col-mark ion-no-padding" size="2">
                            <ion-label color="description-range plm-secondary">
                              <p [innerHTML]="getContentHTML(labelsRange[0])" class="text-range"></p>
                            </ion-label>
                          </ion-col>
                          <ion-col class="col-mark ion-no-padding" size="8">
                            <div class="center">
                              <ion-range [ngStyle]="getObjStyle(rngStyle)" [color]="rngColor" class="custome-range-grid"
                                [value]="rangeValue" min="{{rangeMin}}" max="{{rangeMax}}" [ticks]="ticks" [snaps]="snaps" [pin]="flgPinFormatter" [pinFormatter]="pinFormatter"
                                (ionKnobMoveStart)="onKnobMoveStart($event)" (ionKnobMoveEnd)="onKnobMoveEnd($event)"
                                (ionChange)="changeRange($event)" color="plm-tertiary">
                              </ion-range>
                            </div>
                          </ion-col>
                          <ion-col class="col-mark ion-no-padding" size="2">
                            <ion-label color="description-range plm-secondary">
                              <p [innerHTML]="getContentHTML(labelsRange[1])" class="text-range"></p>
                            </ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ng-template>
                  </ng-container>
                  <ng-template #aryRILFalse>
                    <ion-range [ngStyle]="getObjStyle(rngStyle)" [color]="rngColor" class="custome-range"
                      [value]="rangeValue" min="{{rangeMin}}" max="{{rangeMax}}" [ticks]="ticks" [snaps]="snaps" [pin]="flgPinFormatter" [pinFormatter]="pinFormatter"
                      (ionKnobMoveStart)="onKnobMoveStart($event)" (ionKnobMoveEnd)="onKnobMoveEnd($event)"
                      (ionChange)="changeRange($event)" color="plm-tertiary">
                    </ion-range>
                  </ng-template>
                </div>
              </ng-container>
              <!--  ********** -->
            </ion-item>
          </ion-row>
        </ion-grid>
      </ng-template>
      <!-- Fin Grid Mark Normal -->
    </ng-container>
  </ion-item>
  <ng-container *ngIf="strMsjError">
    <ion-item color="plm-primary" lines="none">
      <div class="container-validators-form"><h1 class="alert">{{ strMsjError }}</h1></div>
    </ion-item>
  </ng-container>
</ion-item-group>