<app-header></app-header>
<app-navigation-header titulo="Laboratorios"></app-navigation-header>

<ion-content class="ion-padding">

  <ion-searchbar class="ion-margin-bottom" placeholder="Producto, Sustancia, Laboratorio, CIE-11" color="urologia-primary"
    mode="md"></ion-searchbar>

  <ion-list class="ion-margin-top">
    <ion-item color="urologia-primary" routerLink="/ippa">
      <ion-label>
        <h2 class="textNormal">lab.ShortName</h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<app-footer></app-footer>