<app-header></app-header>
<app-navigation-header titulo="Abstracts"></app-navigation-header>

<ion-content class="ion-padding">

    <ion-card color="urologia-primary" class="cardResumen">
    <div class="contentCenefa"></div>

    <ng-container>
      <ion-card-content>
        <h2>El abstract no se encuentra disponible por el momento.</h2>
      </ion-card-content>
    </ng-container>

    <ng-container >
      <ion-card-header>
        <ion-card-title>
          <h2>Título Abstract</h2>
        </ion-card-title>
        <ion-card-subtitle mode="ios"><em>Resumen</em></ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        <ion-item color="urologia-primary">
          <ion-label class="ion-text-left">
            <p class="textNormal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis doloribus suscipit ut inventore, quae consectetur aliquid sit odio ad commodi. Voluptatum omnis eligendi aliquid eveniet tempore voluptates rerum! Sequi.</p>
          </ion-label>
        </ion-item>
      </ion-card-content>

      <div class="row d-flex justify-content-end p-3">
        <ion-button size="small" class="w-auto" color="urologia-secondary" mode="md">
          Ver artículo original
        </ion-button>
      </div>
      
    </ng-container>
  </ion-card>

</ion-content>
<app-footer></app-footer>