<app-header></app-header>
<app-navigation-header titulo="Contacto"></app-navigation-header>

<ion-content>

    <ion-card mode="ios" color="urologia-primary">
      <ion-card-subtitle>
          <h1 class="subtituloSeccion ion-margin-top">PLM México, S.A. de C.V.</h1>
      </ion-card-subtitle>
    
      <ion-card-content>
        <p class="textNormal"><b>Dirección:</b></p>
        <p class="textNormal">Insurgentes Sur 1647 piso 2,</p>
        <p class="textNormal">Col. San José Insurgentes,</p>
        <p class="textNormal">C.P. 03920</p>
        <p class="textNormal">México</p>
        
      <ion-list class="bckgrList ion-padding-horizontal ion-margin-top">
        <ion-item mode="ios" detail color="urologia-primary">
          <ion-thumbnail slot="start">
            <img src="/assets/images/iconoEmailEmpresas.svg"> 
          </ion-thumbnail>
          <ion-label> <h2 class="textNormal">contacto.plmlatina.com</h2> </ion-label>
        </ion-item>

        <ion-item mode="ios" detail color="urologia-primary">
          <ion-thumbnail slot="start">
            <img src="/assets/images/iconoFaxEmpresas.svg"> 
          </ion-thumbnail>
          <ion-label> <h2 class="textNormal">551555 8369</h2> </ion-label>
        </ion-item>
        
      </ion-list>
      
    </ion-card-content>
    </ion-card>
</ion-content>
<app-footer></app-footer>