:host {
    background-image: url('/assets/images/backgroundHome.jpg') !important;
    background-position: bottom center;
    background-repeat: no-repeat !important;
    background-size: auto 100%;
}

ion-content {
    --background: none !important;
}


h1.nombreCasoClinico {
    font-family: 'BR Sonoma' !important;
    text-align: center;
    font-size: 1.2rem;
    color: #136ab2;
}

ion-thumbnail {
    width: 70px;
    height: auto;
    margin-right: 1rem;
}

ion-card-title {
    color: EB762A;
    font-family: 'BR Sonoma' !important;
    font-size: 1rem;
    text-align: center;
}

p.textDiscusion {
    font-size: 0.8rem !important;
    font-family: 'BR Sonoma' !important;
    color: #6C6C60;
    text-align: left;
    margin-bottom: 1rem;
}

.thumbnailCorrecto {
    margin-bottom: 1.5rem;
}

ion-card {
    border-radius: 10px;
}

ion-label {
    margin: 0 !important;
}

ion-label p {
    font-size: 1rem;
    font-family: 'BR Sonoma' !important;
    font-weight: bold;
}

ion-label p.buenTrabajo {
    font-size: 1rem;
    font-family: 'BR Sonoma' !important;
    font-weight: bold;
    color: #6C6C60;
}

ion-label h2 {
    color: #136ab2;
    font-size: 1.2rem;
    font-family: 'BR Sonoma' !important;
}

ion-grid.cardInfoDoctor {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1rem;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

ion-grid.cardInfoDoctor ion-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

ion-row .contetnFoto {
    width: 100px;
    height: 100px;

    margin-right: 20px;
}

.contetnFoto img {
    border-radius: 50em;
}

ion-row .NombreDoctor {
    width: calc(100% - 120px);
}

.NombreDoctor p {
    font-size: 0.8rem;
    font-family: 'BR Sonoma' !important;
    margin-bottom: 0.5rem;
    color: #6C6C60;
}

.NombreDoctor h2 {
    font-size: 1rem;
    font-family: 'BR Sonoma' !important;
    color: #136ab2;
    margin: 0;
}

.biografiaDoc {
    font-size: 0.8rem;
    font-family: 'BR Sonoma' !important;
    color: #6C6C60;
}

.textReferencias {
    font-size: 1rem;
    font-family: 'BR Sonoma' !important;
    color: #136ab2;
    margin-left: 1.5rem;
}

ul li {
    font-size: 0.8rem;
    font-family: 'BR Sonoma' !important;
    color: #6C6C60;
    margin: 0 1rem 1rem 0rem;
}



//OTROS
h3{
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0;
    font-size: 13px;
}

img.marcaPatrocinadora{
    max-height: 70px;
    width: auto;
    object-fit: contain;
}

.espacioLogoPatrocinio{
    flex-direction: column;    
}

.textContent{
    text-align: justify;
}
div.contentInfoCard{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

div.contentInfoDoc {
    width: 100%;
    height: 100% !important;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.experienciaDoc {
    width: 100%;
    height: auto;
    float: right;
    padding: 0.5rem;

}

h1.subTituloReferencias {
    font-size: 0.9rem !important;
    color: #0052A1 !important;
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
}
///fin otros

/* -->  RESPONSIVE  <-- */

/* Mobile Portrait */
@media (max-width: 767px) and (min-width: 300px) {}

/* iPhone 5/SE Landscape */
@media (max-width: 568px) and (min-width: 560px) {}

/* iPhone 6/7/8 Landscape */
@media (max-width: 667px) and (min-width: 569px) and (orientation: landscape) {
    :host {
        background-size: 100% 100%;
    }
}

/* iPhone 6/7/8 Plus Landscape */
@media (max-width: 736px) and (min-width: 415px) and (orientation: landscape) {}

/* iPhone X Landscape */
@media only screen and (min-width: 812px) and (orientation: landscape) {}

/* iPhone X/XS Landscape */
@media (max-width: 890px) and (min-width: 769px) and (orientation: landscape) {}

@media screen and (min-width: 360px) and (orientation: portrait) {}

/* iPhone 12 Pro Max Landscape */
@media only screen and (min-width: 926px) and (orientation: landscape) and (orientation: landscape) {}


/* iPhone 12 Pro Max Portrait */
@media only screen and (min-width: 393px) and (orientation: portrait) {}

/* iPad portrait */
@media (min-width: 768px) and (orientation: portrait) {}

/* iPad Landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    :host {
        background-size: 100% 100%;
    }
}

/* iPad Pro portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    :host {
        background-size: 100% 100%;
    }
}

@media only screen and (min-device-width: 938px) and (max-device-width: 938px) and (orientation: landscape) {}

@media only screen and (min-device-width: 602px) and (max-device-width: 602px) and (orientation: portrait) {}


/* Tab's Landscape */
@media (max-width: 1366px) and (min-width: 992px) {}