<app-header></app-header>
<ion-content>

  <ion-grid>
    <ion-row class="rowLogo">
      <img src="/assets/images/iconoUrologia.svg" alt="">
    </ion-row>

    <ion-row class="rowBuscador" routerLink="/buscador">
      <img src="/assets/images/btnBuscador.svg" alt="">
    </ion-row>

    <ion-row class="rowBotones">
      <ion-col>
        <ion-row class="btnAtlas" routerLink="/atlas">
          <img class="imgCardIcon" src="/assets/images/btnAtlas.svg" />
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-row class="btnCci" routerLink="/cci">
          <img class="imgCardIcon" src="/assets/images/btnCci.svg" />
        </ion-row>
        <ion-row  class="btnPodcast" routerLink="/podcast">
          <img class="imgCardIcon" src="/assets/images/btnPodcast.svg" />
        </ion-row>
      </ion-col>

    </ion-row>
    <ion-row class="rowBotones">

      <ion-col>
        <ion-row class="btnContenido" routerLink="/contenido-actualizado">
          <img class="imgCardIcon" src="/assets/images/btnContenido.svg" />
        </ion-row>
        <ion-row  class="btnInteracciones" routerLink="/interacciones-medicamentosas">
          <img class="imgCardIcon" src="/assets/images/btnInteracciones.svg" />
        </ion-row>
      </ion-col>
      
      <ion-col>
        <ion-row class="btnCalculadoras"routerLink="/calculadoras">
          <img class="imgCardIcon" src="/assets/images/btnCalculadoras.svg" />
        </ion-row>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>
<app-footer></app-footer>