<ion-header no-border>
  <ion-toolbar mode="ios" no-border color="urologia_primary">

    <ion-buttons slot="start">
      <ion-button (click)="mostrarPop( )" *ngIf="!changePrefix">
        <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <img class="logoPlmHead" src="/assets/images/logoHeader.svg" alt="">

    <ion-buttons slot="end">
      <ion-button routerLink="/notificaciones-push" *ngIf="!changePrefix">
        <ng-container *ngIf="this.pushNotificationsService.skippedNotifications | async">
          <ion-badge *ngIf="this.pushNotificationsService.skippedNotifications.getValue().length > 0" color="danger">
            {{ this.pushNotificationsService.skippedNotifications.getValue().length }}</ion-badge>
        </ng-container>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-button routerLink="/configuracion" *ngIf="!changePrefix">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>