<app-header></app-header>

<app-navigation-header titulo="Cuenta"></app-navigation-header>

<ion-content>
  <div>
    <ion-row>
        <ion-col size="12" >
          <ion-card class="cardSubseccion" color="mujer-primary">
            <ion-list (click)="presentAlert()" class="bckgrList ion-padding-horizontal ion-margin-top">
              <ion-item lines="none" color="mujer-primary">
                <ion-label class="labelRemoveCta">Si quiere eliminar su cuenta de forma permanente, <b>de clic aquí.</b></ion-label>
              </ion-item>
            </ion-list>
          </ion-card>
        </ion-col>
    </ion-row>
</div>
</ion-content>
<app-footer></app-footer>
