<app-header></app-header>
<app-navigation-header titulo="CIE-11"></app-navigation-header>

<ion-content class="ion-padding">

  <ion-searchbar class="ion-margin-bottom" placeholder="Producto, Sustancia, Laboratorio, CIE-11"
    color="urologia-primary" mode="md" #srchBarComponent (keydown)="getResults($event)"
    [(ngModel)]="searchText"></ion-searchbar>

  <h2 *ngIf="this.pharmaSearchEngine.productsSearchText" class="subTitTextBusc">
    Texto de búsqueda:
    <em>
      <span>
        {{this.pharmaSearchEngine.productsSearchText}}
      </span>
    </em>
  </h2>

  <ion-list class="ion-margin-top">
    <ion-item color="urologia-primary" *ngFor="let icd of getICD11ByTextResult" (click)="getDrugsByICD(icd.ICDId)">
      <ion-label>
        <h2 class="textNormal">{{icd.SpanishDescription}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<app-footer></app-footer>