<app-header></app-header>
<app-navigation-header titulo="Calculadoras"></app-navigation-header>
<!--SERVER-->
<ion-content class="ion-padding-horizontal">
  <div class="contentCenefa">
    <img src="/assets/images/cenefaCalculadoras.svg" alt="">
  </div>

   <!--
  <ion-list class="ion-padding-horizontal ion-margin-top">-->
   <ng-container *ngIf="successRequest | async;">
    <ng-container *ngIf="this.articlesService.getDynamicSection(); else Empty;">
      <app-collapse-element-list #myDiv *ngFor="let item of this.articlesService.sectionJsonResult$ | async"
        title="{{item.subSectionName}}" [elementList]="item.calculators" [section]="sectionName" [img]="img"
        (selected)="showCalculators($event)" (toggle)="closeAccordion()">
      </app-collapse-element-list>
    </ng-container>

    <ng-template #Empty>
      <ion-item class="ion-text-center" color="urologia-primary" lines="none">
        <ion-label>Calculadoras no disponibles.</ion-label>
      </ion-item>
    </ng-template>

    <ion-item *ngIf="exception | async;" class="ion-text-center" lines="none" color="urologia-primary">
      <ion-label>
        Ocurrió un problema!
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>



<ng-container *ngIf="showBanner">
  <app-banner (close)="bannerClose($event)" PLMId="CALCULADORAS"></app-banner>
</ng-container>

<ng-container *ngIf="closeBanner || !showBanner">
  <app-footer></app-footer>
</ng-container> 
