<app-header></app-header>
<app-navigation-header titulo=""></app-navigation-header>

<ion-content class="ion-padding-horizontal">

  <ion-row class="contentTituloSeccion">
    <ion-col size="12" class="text-center">
      <img class="iconoSeccion" src="assets/images/cenefaAtlas.svg" alt="">
    </ion-col>
  </ion-row>
  <br>


  <ng-container *ngIf="successRequest | async;">
    <ng-container *ngIf="this.articlesService.getDynamicSection(); else Empty;">
      <app-collapse-element-list #myDiv *ngFor="let item of this.articlesService.sectionJsonResult$ | async"
        title="{{item.subSectionName}}" [elementList]="item.atlas" [section]="sectionName" [img]="img"
        (selected)="viewPDF($event)" (toggle)="closeAccordion()">
      </app-collapse-element-list>
    </ng-container>

    <ng-template #Empty>
      <ion-item class="ion-text-center" color="urologia-primary" lines="none">
        <ion-label>Atlas no disponibles.</ion-label>
      </ion-item>
    </ng-template>

    <ion-item *ngIf="exception | async;" class="ion-text-center" lines="none" color="urologia-primary">
      <ion-label>
        Ocurrió un problema!
      </ion-label>
    </ion-item>
  </ng-container>
  
<!--
  <ion-accordion-group mode="ios" class="ion-padding-top">
    <ion-accordion value="first">
      <ion-item slot="header" color="urologia-primary">
        <img src="./assets/images/iconoAccAtlas.svg" class="iconoAccordeon" alt="" slot="start">
        <ion-label>
          Salud Hormonal Masculina</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>
            <h2 class="textNormal">Diferencia entre el uso terapéutico y recreativo de andrógenos</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>
            <h2 class="textNormal">Impacto psicológico y social del uso de esteroides fuera de indicación médica</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>
            <h2 class="textNormal">Efectos adversos y beneficios de la terapia con testosterona: ¿cómo dar seguimiento
              para reducir riesgos?</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>
            <h2 class="textNormal">Funciones fisiológicas del aparato reproductor masculino</h2>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>


    <ion-accordion value="second">
      <ion-item slot="header" color="urologia-primary">
        <img src="./assets/images/iconoAccAtlas.svg" class="iconoAccordeon" alt="" slot="start">
        <ion-label>Salud Urogenital Masculina </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>
            <h2 class="textNormal">Clasificación clínica de los tipos de incontinencia urinaria: características,
              mecanismos y abordaje</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>
            <h2 class="textNormal">Abordaje dual de los síntomas del tracto urinario inferior (STUI)</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>
            <h2 class="textNormal">Guía visual comparativa de la retención urinaria: causas, hallazgos clínicos y
              tratamiento</h2>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>

    <ion-accordion value="third">
      <ion-item slot="header" color="urologia-primary">
        <img src="./assets/images/iconoAccAtlas.svg" class="iconoAccordeon" alt="" slot="start">
        <ion-label>Salud Urogenital Femenina</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>
            <h2 class="textNormal">Evolución de los cambios hormonales y su impacto en el síndrome genitourinario en la
              menopausia</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>
            <h2 class="textNormal">Mecanismos de acción de las terapias hormonales locales y sistémicas</h2>
          </ion-label>
        </ion-item>
        <ion-item color="urologia-primary" detail routerLink="">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>
            <h2 class="textNormal">Manifestaciones clínicas de la atrofia vulvovaginal y su impacto en la calidad de
              vida</h2>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>

  </ion-accordion-group>
-->
</ion-content>


<ng-container *ngIf="showBanner">
  <app-banner (close)="bannerClose($event)" PLMId="ATLAS"></app-banner>
</ng-container>

<ng-container *ngIf="closeBanner || !showBanner">
  <app-footer></app-footer>
</ng-container>

