<app-header ></app-header>
<app-navigation-header titulo="Interacciones"></app-navigation-header>

<ion-content>
  <ion-slides pager="true">

    <ion-slide>
      
        <div class="slide-img-padding">
            <img src="assets/images/manual-interacciones/paso.svg">
        </div>

    </ion-slide>
    <ion-slide>
      
        <div class="slide-img-padding">
            <img src="assets/images/manual-interacciones/paso-1.svg">
        </div>
        
    </ion-slide>
    <ion-slide>
      
        <div class="slide-img-padding">
            <img src="assets/images/manual-interacciones/paso-2.svg">
        </div>
        
  
    </ion-slide>
    <ion-slide>
      
        <div class="slide-img-padding">
            <img src="assets/images/manual-interacciones/paso-3.svg">
        </div>
        
  
    </ion-slide>
    <ion-slide>
      
        <div class="slide-img-padding">
            <img src="assets/images/manual-interacciones/paso-4.svg">
        </div>
        
  
    </ion-slide>
    <ion-slide>
      
        <div class="slide-img-padding">
            <img src="assets/images/manual-interacciones/paso-5.svg">
        </div>
        
  
    </ion-slide>
    <ion-slide>
      
        <div class="slide-img-padding">
            <img src="assets/images/manual-interacciones/paso-6.svg">
        </div>
        
  
    </ion-slide>
    <ion-slide>
      
        <div class="slide-img-padding">
            <img src="assets/images/manual-interacciones/paso-7.svg">
        </div>
        
  
    </ion-slide>
    <ion-slide>
      
        <div class="slide-img-padding">
            <img src="assets/images/manual-interacciones/paso-8.svg">
        </div>
        
  
    </ion-slide>
    <ion-slide>
      
        <div class="slide-img-padding">
            <img src="assets/images/manual-interacciones/paso-9.svg">
        </div>
        
  
    </ion-slide>
    <ion-slide>
      
        <div class="slide-img-padding">
            <img src="assets/images/manual-interacciones/paso-10.svg">
        </div>
        
  
    </ion-slide>
    <ion-slide>
      
        <div class="slide-img-padding">
            <img src="assets/images/manual-interacciones/paso-11.svg">
        </div>
        
  
    </ion-slide>
  </ion-slides>
</ion-content>
